/* Bottom Navigation Container */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #F8F9FA; /* Dark background similar to Facebook's */
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1000;
    border-radius: 25px 25px 0 0;
    direction: rtl;
  }
  
  /* Individual Navigation Item */
  .bottom-nav .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #777; /* Slightly faded text */
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth hover effects */
  }
  
  .bottom-nav .nav-item i {
    font-size: 24px; /* Icon size */
    margin-bottom: 6px;
  }
  
  /* Label Style */
  .bottom-nav .nav-item span {
    font-size: 12px; /* Small text for label */
    color: #777;
    font-family: Rabar;
  }

.bottom-nav .nav-item.active {
    color: black; /* Blue color for active item */
    transform: translateY(-2px); /* Small upward movement */
  }
  .bottom-nav .nav-item.active span {
    color: black; /* Blue color for active item */

  }
  